@charset "UTF-8";

$color-white             : rgb(255,255,255);         /* #fff */
$color-white-active      : rgba(255,255,255, 0.4);
$color-white-on_dark     : rgba(255,255,255, 0.7);

$color-brown             : rgb(179,151,120);         /* #b39778 */
$color-brown-hover       : rgba(179,151,120, 0.5);   /* #b39778 50% */

$color-dark_gray         : #434241;
$color-dark_gray-opacity : rgba(67,66,65, 0.47);

$color-red               : #d9554c;

// ------------------------------- //

$c_b   : $color-brown;
$c_bh  : $color-brown-hover;
$c_w   : $color-white;
$c_wa  : $color-white-active;
$c_wod : $color-white-on_dark;
$c_dg  : $color-dark_gray;
$c_dgo : $color-dark_gray-opacity;
$c_r : $color-red;
