@charset "UTF-8";

$color-white         : #fff;
$color-white-active  : rgba(255,255,255, 0.4);
$color-brown         : #b2967a;
$color-brown-hover   : rgba(178, 150, 122, 0.5);

// ------------------------------- //

$c_b  : $color-brown;
$c_bh : $color-brown-hover;
$c_w  : $color-white;
$c_wa : $color-white-active;
