@charset "UTF-8";

#about {
    background-color: map-get($colors, "c_w");
    height: 574px; /*TEMP*/
    position: relative;

    #scroll-link {
        height: 18px;
        cursor: pointer;
        left: calc(50% - 18px);
        position: absolute;
        top: 28px;
        width: 18px;
        z-index: 99;

        -webkit-animation-duration: 3s;
        animation-duration: 3s;

        .scrlnk {
            height: 12px; /* 9px */
            position: relative;
            overflow: hidden;

            .arrow {
                border: solid 1px #b3977b;
                bottom: 3px;
                height: 18px;
                position: absolute;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                width: 18px; /* 9px */

                &:first-child {
                    margin-bottom: 3px;
                }
            }
        }
    }

    .title {

        h3 {
            margin: 32px 0 13px 96px;
        }
    }

    .txt {
        color: map-get($colors, "c_dgo");

        p {
            font-family: 'PT Sans', sans-serif;
            font-style: normal;
            font-variant: normal;
            font-weight: 400;
            line-height: 20px;

            /*&.fLetter:first-letter*/
            .fLetter {
                font-family: 'PT Serif', serif;
                color: map-get($colors, "c_b");
                font-size: 42px;
                line-height: 38px;
                float: left;
                margin: 0 4px 0 -2px;
            }
        }
    }

    .left {

        .line-v {
            bottom: -13px; /*0*/
            height: 0; /* для анимации */
            left: 55px;
            position: absolute;
        }

        h3 {
            opacity: 0;
        }

        .txt {
            opacity: 0;
            margin-top: 97px;
        }
    }
}
