@charset "UTF-8";

#about {
    background-color: map-get($colors, "c_w");
height: 574px; /*TEMP*/

    .title {

        h3 {
            color: map-get($colors, "c_b");
            font-size: 20px;
            letter-spacing: 2px;
            line-height: 36px;
            margin: 32px 0 13px 96px;
            text-transform: uppercase;
        }
    }

    .txt {
        color: map-get($colors, "c_dgo");

        p {
            font-family: 'PT Sans', sans-serif;
            font-style: normal;
            font-variant: normal;
            font-weight: 400;
            line-height: 20px;

            /*&.fLetter:first-letter*/
            .fLetter {
                font-family: 'PT Serif', serif;
                color: map-get($colors, "c_b");
                font-size: 42px;
                line-height: 38px;
                float: left;
                margin: 0 4px 0 -2px;
            }
        }
    }

    .left {

        .line-v {
            bottom: -13px; /*0*/
            left: 55px;
            position: absolute;
        }

        h3 {

        }

        .txt {
            margin-top: 100px;
        }
    }
}
