@charset "UTF-8";

.modal {

    &-body {
        padding-bottom: 58px;
    }

    &-dialog {
        max-width: 517px; /* 512px */

        .modal-header {

            .close {
                outline: 0px solid transparent;
                outline: none;

                &:link, &:visited, &:hover, &:active, &:focus {
                    outline: 0px solid transparent;
                    outline: none;
                }
            }
        }

        .form-order {
            margin: 0 55px;

            .btn {
                &-main, &-main:link, &-main:visited, &-main:hover, &-main:active, &-main:focus {
                    background-color: map-get($colors, "c_b");
                }
            }
        }
    }

    &-title {
        color: map-get($colors, "c_b");
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 1.8;
        margin: 42px 0px 32px 55px;
        text-transform: uppercase;
    }
}
