@charset "UTF-8";

/* Custom */
@include placeholder {
    color: map-get($colors, "c_dgo");
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    opacity: 1;
    text-overflow: ellipsis;
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

/*@include plhdr(":focus") {
    text-indent: 700px;
    transition: text-indent 0.3s ease;
}*/

* {
    @include box-sizing (border-box);
    &:before, &:after {
        @include box-sizing (border-box);
    }
}

html, body  {
    min-width: 1200px;
}
.container {
    min-width: 1170px;
}

html {
    font-size: 24px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
}

body {
    color: map-get($colors, "c_dg");
    font-family: 'PT Serif', serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0 !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

a {
    @extend %transition300ease;
    display: inline-block;
    letter-spacing: 0.8px;
    text-decoration: none;

    &:link, &:visited , &:hover, &:active, &:focus {
        @extend %transition300ease;
        display: inline-block;
        text-decoration: none;
    }

    &:link {

    }
    &:visited {

    }
    &:hover {

    }
    &:active {

    }
    &:focus {
        outline: thin dotted;
        outline: 1px auto -webkit-focus-ring-color;
        outline: 0px solid transparent;
        outline: none;
    }
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

figure {
    margin: 0
}
img {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

section.page section {
    /*padding: 100px 0;*/
    padding: 93px 0;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: #fff;
    background-color: #000;
    text-shadow: none;
}

::selection {
    color: #fff;
    background-color: #000;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

:focus {
    @extend %selection-focus;
}
