@charset "UTF-8";

input {

}

&.form-control {

    &-main {
        border-radius: 0;
        color: map-get($colors, "c_dgo");
        display: inline-block;
        font-family: 'PT Sans', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
        height: auto;
        padding: 14px 14px 13px;
    }
}

button, .btn {

}


.btn {

    &-main {
        @extend %font-links;
        border: 1px solid map-get($colors, "c_b");
        border-radius: 0;
        padding: 14px 41px 13px 42px;
        width: 189px;

        &:link, &:visited, &:hover, &:active, &:focus {
            @extend %font-links;
            border: 1px solid map-get($colors, "c_b");
            border-radius: 0;
            padding: 14px 41px 13px 42px;
            width: 189px;
        }

        &:hover {
            background-color: map-get($colors, "c_bh");
        }

        &:active {
            background-color: map-get($colors, "c_b");
            box-shadow: none;
        }

        &:focus {
            outline: 0px solid transparent;
            outline: none;
        }
    }
}

fieldset {


    legend {

    }

    label {

    }
}
