@charset "UTF-8";

input {
    @extend %transition300ease;
}

.form-group {
    position: relative;

    &-main {
        margin-bottom: 28px;
    }

    .form-control {

        &-main {
            border: 1px solid map-get($colors, "c_dgo");
            border-radius: 0;
            color: map-get($colors, "c_dgo");
            display: inline-block;
            font-family: 'PT Sans', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-variant: normal;
            font-weight: 400;
            line-height: 20px;
            height: auto;
            padding: 15px 20px 15px;

            &:focus {
                @extend %selection-focus;
            }
        }
    }

    .form-control-feedback {
        &-icon, &-message-error {
            display: none;
            position: absolute;
            /*transition: All 700ms ease;*/
        }

        &-icon {
            @extend %bg-cover;
            background-image: url(../img/footer/true.png);
            height: 20px;
            right: -50px;
            top: calc(50% - 10px);
            width: 26px;
        }

        &-message-error {
            bottom: -24px;
            color: map-get($colors, "c_r");
            font-family: 'PT Sans', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-variant: normal;
            font-weight: 400;
            line-height: 20px;
            right: 7px;
        }
    }

    &.has-error {
        .form-control-feedback {
            &-icon {
                background-image: url(../img/footer/false.png);
            }
        }
    }
}

button, .btn {

}


.btn {

    &-main {
        @extend %font-links;
        border: 1px solid map-get($colors, "c_b");
        border-radius: 0;
        padding: 14px 41px 13px 42px;
        width: 189px;

        &:link, &:visited, &:hover, &:active, &:focus {
            @extend %font-links;
            border: 1px solid map-get($colors, "c_b");
            border-radius: 0;
            padding: 14px 41px 13px 42px;
            width: 189px;
        }

        &:hover {
            background-color: map-get($colors, "c_bh");
        }

        &:active {
            background-color: map-get($colors, "c_b");
            box-shadow: none;
        }

        &:focus {
            outline: 0px solid transparent;
            outline: none;
        }
    }
}

fieldset {


    legend {

    }

    label {

    }
}
