<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left">
                <div class="title">
                    <div class="line-v line-v-4"></div>
                    <h3>
                        Более 7 лет практикуем <br />
                        юридическое право
                    </h3>
                </div>

                <div class="txt">
                    <p>
                        &bdquo;На протяжении многолетней практики, мы наблюдаем <br />
                        как клиенты несут значительные финансовые и временные потери, <br />
                        которых можно было бы избежать, если бы они были более <br />
                        осведомлены в юридических законах&ldquo;.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="title">
                    <h2>
                        Юридическая <br />
                        компания Felaw
                    </h2>
                    <div class="desc">
                        <p>Юридические услуги в Минске и Беларуси.</p>
                    </div>
                </div>

                <div class="txt">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                <span class="fLetter">П</span>редоставляя услуги нашим <br />
                                клиентам, мы всегда заботимся <br />
                                об их интересах. Каждым делом <br />
                                занимается группа лицензированных <br />
                                специалистов: юристы, бухгалтеры, <br />
                                антикризисные менеджеры и другие <br />
                                сотрудники компании. Мы занимаемся <br />
                                юридическими задачами от услуг для <br />
                                индивидуальных предпринимателей <br />
                                до крупных компаний, выполняя задачи <br />
                                в кратчайшие сроки.
                            </p>
                        </div>
                        <div class="col-sm-6">
                        <p>
                            В процессе ведения дел, информируем <br />
                            клиентов о выполнении пунктов договора <br />
                            и представляем всю необходимую <br />
                            документацию. На протяжении 7 лет, <br />
                            помогая нашим клиентам, мы успешно <br />
                            выполнили более 460 юридических <br />
                            задач различной сложности.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
