<section id="advantages">
    <div id="advantages-bg"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        Наши преимущества
                    </h2>
                    <div class="desc">Более 7 лет на рынке юридических услуг.</div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col col-1">
                        <div class="number">01</div>
                        <div class="line"></div>
                        <div class="desc">
                            <p>Снижаем финансовые потери
                                Снижаем финансовые потери, связанные <br />
                                с решением ваших юридических задач.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="col col-1">
                        <div class="number">03</div>
                        <div class="line"></div>
                        <div class="desc">
                            <p>
                                Регулярно информируем и предоставляем <br />
                                отчёты о ходе выполнения работ
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-xs-offset-2">
                    <div class="col col-1">
                        <div class="number">02</div>
                        <div class="line"></div>
                        <div class="desc">
                            <p>
                                Ведём дело по доверенности, без вашего личного <br />
                                присутствия с доставкой документов.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col col-1">
                        <div class="number">04</div>
                        <div class="line"></div>
                        <div class="desc">
                            <p>
                                Оказываем услуги в максимально сжатые сроки, <br />
                                с выполнением всех пунктов договора.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
