<section id="services">
    <div id="services-bg"></div>

    <div class="container">
        <div class="row">

            <div class="col-sm-4 col-xs-4">
                <div class="colth-1">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="service-tab" id="serv-reg" data-target="#servRegistration">
                                <div class="wrapper">
                                    <img src="assets/img/services/hover/reg@2x.jpg" alt="" class="bgimg" />
                                    <div class="blackout"></div>
                                    <div class="desc">
                                        <h4>Регистрация фирм</h4>
                                        <p>
                                            ЧУП, ООО, ОДО, ЗАО, филиалов <br />
                                            и иностранных компаний.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="title">
                                <h2>Наши услуги</h2>
                                <div class="desc">
                                    <p>
                                        Для любого уровня юридических лиц.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-xs-4">
                <div class="colth-2">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="service-tab" id="serv-lic" data-target="#servLicenses">
                                <div class="wrapper">
                                    <img src="assets/img/services/hover/lic@2x.jpg" alt="" class="bgimg" />
                                    <div class="blackout"></div>
                                    <div class="desc">
                                        <h4>Получение лицензий</h4>
                                        <p>
                                            На осуществление любых <br />
                                            видов деятельности.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="service-tab" id="serv-reo" data-target="#servLiquidation">
                                <div class="wrapper">
                                    <img src="assets/img/services/hover/reo@2x.jpg" alt="" class="bgimg" />
                                    <div class="blackout"></div>
                                    <div class="desc">
                                        <h4>Ликвидация фирм</h4>
                                        <p>
                                           Фирм без текущей деятельности <br />
                                           и компаний с долгами.
                                       </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-xs-4">
                <div class="colth-3">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="title">
                                <h3>
                                    Весь перечень <br />
                                    юридических услуг
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bg-white">
                                <div class="teasers active" id="teas-page-1">
                                    <!--(.teaser>h5(lorem1)+p(lorem15)+a.more[href="#"]{Подробнее})*3-->

                                    <div class="teaser">
                                        <h5>Изменение в устав</h5>
                                        <p>
                                            Регистрация юридических лиц: ЗАО, ЧУП, <br />
                                            ОДО, а также иностранных представительств <br />
                                            на территории Республици Беларусь.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line"></div>
                                    </div>

                                    <div class="teaser">
                                        <h5>Взыскание долгов</h5>
                                        <p>
                                            Ликвидация юридических лиц, организаций, <br />
                                            общая ликвидация фирм и фирм с долгами <br />
                                            с полным сопровождением юриста.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line"></div>
                                    </div>

                                    <div class="teaser">
                                        <h5>Регистрация товарного знака</h5>
                                        <p>
                                            Осуществляем взыскание не только основной <br />
                                            суммы денежных средств, а также процентов <br />
                                            и пени за их использование.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line"></div>
                                    </div>
                                </div>
                                <div class="teasers" id="teas-page-2">
                                    <div class="teaser">
                                        <h5>Изменение в устав [2]</h5>
                                        <p>
                                            Регистрация юридических лиц: ЗАО, ЧУП, <br />
                                            ОДО, а также иностранных представительств <br />
                                            на территории Республици Беларусь.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line"></div>
                                    </div>

                                    <div class="teaser">
                                        <h5>Взыскание долгов</h5>
                                        <p>
                                            Ликвидация юридических лиц, организаций, <br />
                                            общая ликвидация фирм и фирм с долгами <br />
                                            с полным сопровождением юриста.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line"></div>
                                    </div>

                                    <div class="teaser">
                                        <h5>Регистрация товарного знака</h5>
                                        <p>
                                            Осуществляем взыскание не только основной <br />
                                            суммы денежных средств, а также процентов <br />
                                            и пени за их использование.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line"></div>
                                    </div>
                                </div>
                                <div class="teasers" id="teas-page-3">
                                    <div class="teaser">
                                        <h5>Изменение в устав [3]</h5>
                                        <p>
                                            Регистрация юридических лиц: ЗАО, ЧУП, <br />
                                            ОДО, а также иностранных представительств <br />
                                            на территории Республици Беларусь.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line"></div>
                                    </div>

                                    <div class="teaser">
                                        <h5>Взыскание долгов</h5>
                                        <p>
                                            Ликвидация юридических лиц, организаций, <br />
                                            общая ликвидация фирм и фирм с долгами <br />
                                            с полным сопровождением юриста.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line"></div>
                                    </div>

                                    <div class="teaser">
                                        <h5>Регистрация товарного знака</h5>
                                        <p>
                                            Осуществляем взыскание не только основной <br />
                                            суммы денежных средств, а также процентов <br />
                                            и пени за их использование.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line"></div>
                                    </div>
                                </div>
                                <div class="teasers" id="teas-page-4">
                                    <div class="teaser">
                                        <h5>Изменение в устав [4]</h5>
                                        <p>
                                            Регистрация юридических лиц: ЗАО, ЧУП, <br />
                                            ОДО, а также иностранных представительств <br />
                                            на территории Республици Беларусь.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line"></div>
                                    </div>

                                    <div class="teaser">
                                        <h5>Взыскание долгов</h5>
                                        <p>
                                            Ликвидация юридических лиц, организаций, <br />
                                            общая ликвидация фирм и фирм с долгами <br />
                                            с полным сопровождением юриста.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line"></div>
                                    </div>

                                    <div class="teaser">
                                        <h5>Регистрация товарного знака</h5>
                                        <p>
                                            Осуществляем взыскание не только основной <br />
                                            суммы денежных средств, а также процентов <br />
                                            и пени за их использование.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line"></div>
                                    </div>
                                </div>

                                <div class="service" id="servRegistration">
                                    <h5>Регистрация</h5>
                                    <p>
                                        Регистрация юридических лиц: ЗАО, ЧУП, <br />
                                        ОДО, а также иностранных представительств <br />
                                        на территории Республици Беларусь.
                                    </p>

                                    <h6>Этапы</h6>
                                    <ul>
                                        <li>
                                            консультация по вопросам налогооблажения <br />
                                            и осуществляемой деятельности;
                                        </li>
                                        <li>согласование наименования фирмы;</li>
                                        <li>оценка неденежного вклада в уставной фонд;</li>
                                        <li>
                                            подготовка полного пакета учредительных, <br />
                                            регистрационных и кадровых документов;
                                        </li>
                                        <li>разработка устава для компании;</li>
                                        <li>оплата гос. пошлины и заказ печати;</li>
                                        <li>
                                            открытие расчётного счёта в банке, а также <br />
                                            оформление юридического адреса;
                                        </li>
                                        <li>
                                            постановка на учёт в ИМНС, ФСЗН, органах <br />
                                            статистики, Белгострах.
                                        </li>
                                    </ul>

                                    <h6>Сроки</h6>
                                    <p>
                                        1-3 дня, для иностранных компаний <br />
                                        от 3-х недель.
                                    </p>

                                    <div class="servReturn"></div>
                                </div>
                                <div class="service" id="servLicenses">
                                    <h5>Получение лицензий</h5>
                                    <p>
                                        Полное юридическое сопровождение, <br />
                                        внесение изменений, дополнений в лицензию, <br />
                                        консультирование и защита интересов.
                                    </p>

                                    <h6>ВИДЫ ДЕЯТЕЛЬНОСТИ</h6>
                                    <ul>
                                        <li>промышленная безопасность;</li>
                                        <li>фармацевтическая деятельность;</li>
                                        <li>розничная торговля нефтепродуктами;</li>
                                        <li>оптовая торговля нефтепродуктами;</li>
                                        <li>
                                            городские и международные перевозки <br />
                                            пассажиров и грузов;
                                        </li>
                                        <li>
                                            оптовая и розничная торговля алкоголем, <br />
                                            табаком;
                                        </li>
                                        <li>охранная деятельность;</li>
                                        <li>психологическая деятельность;</li>
                                        <li>трудоустройство граждан РБ за границей;</li>
                                        <li>другие виды дейстельности.</li>
                                    </ul>

                                    <h6>Сроки</h6>
                                    <p>зависят от вида деятельности</p>

                                    <div class="servReturn"></div>
                                </div>
                                <div class="service" id="servLiquidation">
                                    <h5>Ликвидация фирм</h5>
                                    <p>
                                        Ликвидация юридических лиц, организаций, <br />
                                        общая ликвидация фирм и фирм с долгами <br />
                                        с полным сопровождением юриста.
                                    </p>

                                    <h6>Этапы</h6>
                                    <ul>
                                        <li>консультация по ликвидации компании;</li>
                                        <li>
                                            подготовка полного пакета документов <br />
                                            в связи с началом ликвидации фирмы;
                                        </li>
                                        <li>назначение ликвидационной коммисии;</li>
                                        <li>расчет и увольнение персонала;</li>
                                        <li>проведение инвентаризации;</li>
                                        <li>
                                            прохождение проверок в налоговой, ФСЗН, <br />
                                            ИМНС, Белгострах;
                                        </li>
                                        <li>составление ликвидационного баланса;</li>
                                        <li>закрытие счета, уничтожение печати;</li>
                                        <li>
                                            получение справки из ЕГР об исключении <br />
                                            из государственного регистра.
                                        </li>
                                    </ul>

                                    <h6>Сроки</h6>
                                    <p>3–4 месяца</p>

                                    <div class="servReturn"></div>
                                </div>
                                <div class="service" id="servReorganization">
                                    <h5>Реорганизация фирм</h5>
                                    <p>
                                        Реорганизация фирм в форме разделения, <br />
                                        слияния, преобразования, присоединения, <br />
                                        ЗАО в ОДО, ОДО в ЗАО.
                                    </p>

                                    <h6>Этапы</h6>
                                    <ul>
                                        <li>
                                            консультация по алгоритму и оценка будущих <br />
                                            результатов реорганизации юр. лица;
                                        </li>
                                        <li>составление полного пакета документов;</li>
                                        <li>составление приказа об инвентаризации;</li>
                                        <li>составление передаточного акта;</li>
                                        <li>
                                            внесение изменений в устав в связи <br />
                                            с реорганизацией фирмы;
                                        </li>
                                        <li>оплата гос. пошлины и заказ печати;</li>
                                        <li>переоформление счета в банке;</li>
                                        <li>
                                            уведомление ИМНС, Белгострах, ФСЗН <br />
                                            о реорганизации юридического лица.
                                        </li>
                                    </ul>

                                    <h6>Сроки</h6>
                                    <p>[?]3–4 месяца</p>

                                    <div class="servReturn"></div>
                                </div>
                                <div class="service" id="servChangesCharter">
                                    <h5>Изменение в устав</h5>
                                    <p>
                                        Внесение изменений в устав, оформление <br />
                                        входа-выхода участников, купли-продажи <br />
                                        доли, изменения наименования фирмы.
                                    </p>

                                    <h6>Этапы</h6>
                                    <ul>
                                        <li>внесение изменений в устав фирмы;</li>
                                        <li>
                                            оформление выхода участника <br />
                                            или участников деятельности;
                                        </li>
                                        <li>
                                            регистрация нового участника <br />
                                            или участников;
                                        </li>
                                        <li>оформление купли-продажи доли;</li>
                                        <li>
                                            изменение наименования, а также <br />
                                            местонахождения фирмы;
                                        </li>
                                    </ul>

                                    <h6>Сроки</h6>
                                    <p>[?]3–4 месяца</p>

                                    <div class="servReturn"></div>
                                </div>
                                <div class="service" id="servCollAccRec">
                                    <h5>Взыскание дебиторки</h5>
                                    <p>
                                        Осуществляем взыскание не только основной <br />
                                        сумму денежных средтв, а также процентов <br />
                                        и пени за их использование.
                                    </p>

                                    <h6>Этапы</h6>
                                    <ul>
                                        <li>анализ документов;</li>
                                        <li>
                                            досудебное урегулирование спора <br />
                                            или оформление претензии;
                                        </li>
                                        <li>
                                            получение исполнительной надписи <br />
                                            нотариуса, либо подготовка заявления <br />
                                            для обращения в суд;
                                        </li>
                                        <li>
                                            взыскание не только основной суммы, <br />
                                            а также пеню и проценты за пользование <br />
                                            денежными средствами;
                                        </li>
                                        <li>достижение принятия решения суда;</li>
                                        <li>
                                            зачисление денежных средств на расчетный <br />
                                            счет клиента.
                                        </li>
                                    </ul>

                                    <h6>Сроки</h6>
                                    <p>[?]3–4 месяца</p>

                                    <div class="servReturn"></div>
                                </div>
                                <div class="service" id="servSaleRMCompany">
                                    <h5>Продажа готовой фирмы</h5>
                                    <p>
                                        Купля-продажа юридических лиц в форме: <br />
                                        ЧУП, ООО, ОДО. Чистые организации, <br />
                                        с изменением наименования фирмы.
                                    </p>

                                    <h6>[?]Этапы</h6>
                                    <ul>
                                        <li>анализ документов;</li>
                                        <li>
                                            досудебное урегулирование спора <br />
                                            или оформление претензии;
                                        </li>
                                        <li>
                                            получение исполнительной надписи <br />
                                            нотариуса, либо подготовка заявления <br />
                                            для обращения в суд;
                                        </li>
                                        <li>
                                            взыскание не только основной суммы, <br />
                                            а также пеню и проценты за пользование <br />
                                            денежными средствами;
                                        </li>
                                        <li>достижение принятия решения суда;</li>
                                        <li>
                                            зачисление денежных средств на расчетный <br />
                                            счет клиента.
                                        </li>
                                    </ul>

                                    <h6>Сроки</h6>
                                    <p>[?]3–4 месяца</p>

                                    <div class="servReturn"></div>
                                </div>
                                <div class="service" id="servTrademarkReg">
                                    <h5>Регистрация товарного знака</h5>
                                    <p>
                                        Регистрация знаков обслуживания, товарных <br />
                                        знаков и марок, подготовка полного пакета <br />
                                        документов для регистрации.
                                    </p>

                                    <h6>Этапы</h6>
                                    <ul>
                                        <li>
                                            консультация по вопросу регистрации <br />
                                            товарного знака, товарной марки;
                                        </li>
                                        <li>анализ товарного знака, товарной марки;</li>
                                        <li>
                                            подготовка полного пакета документов <br />
                                            на регистрацию и подача в государственные <br />
                                            учреждения, НЦИС;
                                        </li>
                                        <li>
                                            получение свидетельства о регистрации <br />
                                            товарного знака;
                                        </li>
                                        <li>
                                            подготовка и подача документов на внесение <br />
                                            изменений в регистрацию товарного знака <br />
                                            или на продление срока действия.
                                        </li>
                                    </ul>

                                    <h6>Сроки</h6>
                                    <p>до 7 дней</p>

                                    <div class="servReturn"></div>
                                </div>
                                <div class="service" id="servBuyСompMinsk">
                                    <h5>Покупка фирмы в Минске</h5>
                                    <p>
                                        Сопровождение сделки по покупке бизнеса, <br />
                                        консультирование клиента и предоставление <br />
                                        полного пакета документов для покупки.
                                    </p>

                                    <h6>Этапы</h6>
                                    <ul>
                                        <li>изучение учредительных документов;</li>
                                        <li>
                                            консультирование клиента по вопросам <br />
                                            сопровождения сделки;
                                        </li>
                                        <li>
                                            подготовка договоров купли-продажи долей <br />
                                            в уставном фонде;
                                        </li>
                                        <li>
                                            подготовка решений учредителей в связи <br />
                                            с продажей доли;
                                        </li>
                                        <li>
                                            подготовка полного пакета документов <br />
                                            для государственной регистрации;
                                        </li>
                                        <li>оплата гос. пошлины и заказ печати;</li>
                                        <li>
                                            личное сопровождение юристом в процессе <br />
                                            регистрации-покупки фирмы.
                                        </li>
                                    </ul>

                                    <h6>Сроки</h6>
                                    <p>[?]1–3 дня</p>

                                    <div class="servReturn"></div>
                                </div>

                                <div class="teasers-paginators">
                                    <nav>
                                        <a href="#teas-page-1" class="active">1<span class="underline"></span></a>
                                        <a href="#teas-page-2">2<span class="underline"></span></a>
                                        <a href="#teas-page-3">3<span class="underline"></span></a>
                                        <a href="#teas-page-4">4<span class="underline"></span></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
