<section id="services">
    <div id="services-bg"></div>

    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <div class="colth-1">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="service-tab" id="serv-reg">
                                <div class="desc">
                                    <h4>Регистрация</h4>
                                    <p>
                                        ЧУП, ООО, ОДО, ЗАО, филиалов <br />
                                        и иностранных компаний.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="title">
                                <h2>Наши услуги</h2>
                                <div class="desc">
                                    <p>
                                        Для любого уровня юридических лиц.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="colth-2">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="service-tab" id="serv-lic">
                                <div class="desc">
                                    <h4>Лицензии</h4>
                                    <p>
                                        На осуществление любых <br />
                                        видов деятельности.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="service-tab" id="serv-reo">
                                <div class="desc">
                                    <h4>Реорганизация</h4>
                                    <p>
                                       В форме слияния, присоединения, <br />
                                       преобразования, разделения.
                                   </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="colth-3">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="title">
                                <h3>
                                    Весь перечень <br />
                                    юридических услуг
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bg-white">
                                <div class="teasers">
                                    <!--(.teaser>h5(lorem1)+p(lorem15)+a.more[href="#"]{Подробнее})*3-->

                                    <div class="teaser">
                                        <h5>Изменение в устав</h5>
                                        <p>
                                            Регистрация юридических лиц: ЗАО, ЧУП, <br />
                                            ОДО, а также иностранных представительств <br />
                                            на территории Республици Беларусь.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line line-4"></div>
                                    </div>

                                    <div class="teaser">
                                        <h5>Взыскание долгов</h5>
                                        <p>
                                            Ликвидация юридических лиц, организаций, <br />
                                            общая ликвидация фирм и фирм с долгами <br />
                                            с полным сопровождением юриста.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line line-4"></div>
                                    </div>

                                    <div class="teaser">
                                        <h5>Регистрация товарного знака</h5>
                                        <p>
                                            Осуществляем взыскание не только основной <br />
                                            суммы денежных средств, а также процентов <br />
                                            и пени за их использование.
                                        </p>
                                        <a href="#" class="more">Подробнее</a>
                                        <div class="line line-4"></div>
                                    </div>
                                </div>

                                <div class="teasers-paginators">
                                    <nav>
                                        <a href="#">1</a>
                                        <a href="#">2</a>
                                        <a href="#">3</a>
                                        <a href="#">4</a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
