<footer id="footer" role="contentinfo">
    <div class="container footer-content">
        <div class="row">
            <div class="col-sm-1">
                <div class="title">
                    <div class="line-v line-v-4"></div>
                    <h2>Контакты</h2>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="contacts">
                    <div class="ln">
                        <h5>Телефон</h5>
                        <p>+375 29 319 58 79, +375 33 901 34 17</p>
                    </div>
                    <div class="ln">
                        <h5>Адрес</h5>
                        <p>ул. Октябрьская 5, офис на 3-м этаже, кабинет 320</p>
                    </div>
                    <div class="ln">
                        <h5>Почта</h5>
                        <p>pravoforbusiness@gmail.com</p>
                    </div>
                </div>

                <div class="txt">
                    <p>
                        Запишитесь на предварительную консультацию с юристом, для более <br />
                        подробного рассмотрения вашего дела. Консультация &ndash; бесплатна <br />
                        и проходит у нас в офисе на Октябрьской.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title">
                            <h3>Форма заявки</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div id="placeInFooter">
                            //= ../modules/forms/formOrder.html
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
