<header id="header">

    <div class="blackout"></div>

    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Переключение навигации</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <a class="navbar-brand" href="." role="banner">
                        Felaw.
                    </a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-left" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#header" class="scrollTo">Главная</a>
                    </li>
                    <li>
                        <a href="#services" class="scrollTo">Услуги</a>
                    </li>
                    <li>
                        <a href="#" class="scrollTo">Практика</a>
                    </li>
                </ul>
            </div>

            <ul class="nav navbar-nav navbar-right languages">
                <li><a href="#" class="active">RU</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">EN</a></li>
            </ul>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="header-carousel" class="carousel slide" data-ride="carousel">

                    <div class="row">
                        <div class="col-lg-1 col-xs-1">
                            <div class="carousel-pagination">
                                <div class="carousel-pagination-label">
                                    <span id="paginationNumber">1</span>/4
                                </div>

                                <div class="carousel-controls">
                                    <a class="pull-left" href="#header-carousel" data-slide="prev">
                                        <p class="chevron chevron-left"></p>
                                    </a>
                                    <a class="pull-right" href="#header-carousel" data-slide="next">
                                        <p class="chevron chevron-right"></p>
                                    </a>
                                </div>

                                <ol class="carousel-indicators">
                                    <li data-target="#header-carousel" data-slide-to="0" class="active"> </li>
                                    <li data-target="#header-carousel" data-slide-to="1"> </li>
                                    <li data-target="#header-carousel" data-slide-to="2"> </li>
                                    <li data-target="#header-carousel" data-slide-to="3"> </li>
                                </ol>
                            </div>
                        </div>

                        <div class="col-lg-10 col-xs-10">
                            <div class="carousel-inner-wrapper">
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <!--<img src="assets/img/header/carousel/1.jpg" alt="First slide" />-->
                                        <!--<div class="carousel-caption"></div>-->

                                        <h1>
                                            Юридические услуги <br />
                                            по корпоративному праву
                                        </h1>
                                        <div class="desc">
                                            <p>
                                                Регистрация и реорганизация фирм, изменения
                                                <br />в устав, ликвидация, открытие представительств.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <h2 class="h1">
                                            Лицензирование <br />
                                            видов деятельности
                                        </h2>
                                        <div class="desc">
                                            <p>
                                                Получение лицензий на виды деятельности,
                                                <br />внесение изменений и дополнений в лицензии.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <h2 class="h1">
                                            Регистрация товарного <br />
                                            знака, марки
                                        </h2>
                                        <div class="desc">
                                            <p>
                                                Консультации и анализ по вопросам регистрации
                                                <br />знаков обслуживания, товарных знаков и марок.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <h2 class="h1">
                                            Купля и продажа готовых <br />
                                            фирм в Белоруссии
                                        </h2>
                                        <div class="desc">
                                            <p>
                                                Консультирование и подготовка полного пакета
                                                <br />документов по вопросам купли-продажи фирм.
                                            </p>
                                        </div>
                                    </div>

                                    <a href="#" class="btn btn-main" data-toggle="modal" data-target="#modalOrder" data-service="Шапка" role="button">Консультация</a>
                                    <!--<a href="#" class="btn btn-main" data-toggle="modal" data-target="#modalOrder" data-service="header[2]" role="button">Консультация</a>-->
                                    <!--<a href="#" class="btn btn-main" data-toggle="modal" data-target="#modalOrder" data-service="header[3]" role="button">Консультация</a>-->
                                    <!--<a href="#" class="btn btn-main" data-toggle="modal" data-target="#modalOrder" data-service="header[4]" role="button">Консультация</a>-->
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1 col-xs-1">
                            <nav id="side-right" role="navigation">
                                <a href="#inform-contacts" class="lnk-inform" role="button">Контакты</a>
                                <a href="#inform-adress" class="lnk-inform" role="button">Адрес</a>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    //= informs/inform-adress.html

    //= informs/inform-contacts.html

</header>
